<!DOCTYPE html>
<head>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<title>Calendar maker</title>
</head>
<body>
<div id="content">
    <center>
        <h1>Calendar maker</h1>
    </center>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3" for="lang">Language:</label>
                <div class="col-sm-9">
                    <select class="form-control" name="lang">
                        <option name="sv">Swedish</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3" for="start_of_week">Day starts on:</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="start_of_week" value="sun">Sunday
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="start_of_week" value="mon">Monday
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3" for="year">Year:</label>
                <div class="col-sm-9">
                    <input class="form-control" placeholder="Year" type="text">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <table class="table">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Image</th>
                        <th>Image text</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for m in ('January','February','March','April','May','June','July','August','September','October','November','December'): %}
                    <tr>
                        <td>{{m}}</td>
                        <td><img class="thumb" src="{{ url_for('static', filename='placeholder.png') }}"></td>
                        <td>
                            <div>
                                <label class="col-sm-5">Description</label>
                                <div class="col-sm-7">
                                    <input placeholder="Sunset, New York City, NY"  class="small-input form-control" type="text">
                                </div><br/>
                            </div>
                            <div class="table-input-bottom">
                                <label class="col-sm-5">Date</label>
                                <div class="col-sm-7">
                                    <input placeholder="June 8, 2009" class="small-input form-control" type="text">
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-folder-open"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <fieldset>
            <button class="btn btn-success right" type="submit">Preview</button>
        </fieldset>
    </form>
</div>
s</body>
