#content {
    padding:20px;
    width:30%;
    min-width:460px;
    margin:auto;
}

.right {
    float:right;
}

.left {
    float:left;
}

.thumb {
    color:#CCC;
    max-width:80px;
    max-height:80px;
}

.small-input {
    max-height:20px;
}

label.col-sm-5 {
    margin-bottom:0px;
}

.table-input-bottom {
    margin-top:2px;
}

table.table tbody tr td {
    text-align:center;
    vertical-align:middle;
    border:none;
}

table.table tbody tr td.input-td {
    text-align:right;
}

table.table tbody tr td.input-td label {
    padding:0px;
}

table.table thead tr th {
    text-align:center;
    border:none;
}

.img-wrap {
    height:80px;
    white-space: nowrap;
    text-align: center; margin: 1em 0;
    margin:0px;
    padding:0px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    max-width:80px;
    max-height:80px;
    vertical-align:middle;
}
