#content {
    padding:20px;
    width:30%;
    min-width:460px;
    margin:auto;
}

.right {
    float:right;
}

.left {
    float:left;
}

.thumb {
    color:#CCC;
    max-width:40px;
    max-height:40px;
}

.small-input {
    max-height:20px;
}
