#content {
    padding:20px;
    width:30%;
    min-width:460px;
    margin:auto;
}

.right {
    float:right;
}

.left {
    float:left;
}

.thumb {
    color:#CCC;
    max-width:80px;
    max-height:80px;
}

.small-input {
    max-height:20px;
}

label.col-sm-5 {
    margin-bottom:0px;
}

.table-input-bottom {
    margin-top:2px;
}

table.table tbody tr td {
    vertical-align:middle;
}
